.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #398378;
}

.header-container img {
    height: 30px;
}

.header-container .assist-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.login-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: rgb(156, 156, 156);
    /* Larghezza massima disponibile per il testo */
    max-width: 350px;
    /* Centro del contenitore */
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    /* Sposta il testo verso l'alto */
    top: -20px;
}

.btn-primary {
    width: 300px;
    /* Larghezza massima del pulsante */
    --bs-btn-color: white;
    --bs-btn-bg: #398378;
    --bs-btn-border-color: #398378;
    --bs-btn-hover-color: #398378;
    --bs-btn-hover-bg: #white;
    --bs-btn-hover-border-color: #398378;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #398378;
    --bs-btn-active-bg: #398378;
    --bs-btn-active-border-color: #398378;
    --bs-btn-disabled-color: #398378;
    --bs-btn-disabled-bg: #398378;
    --bs-btn-disabled-border-color: #398378;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Spazio tra i pulsanti */
    gap: 10px;
}


