.rating {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #ddd;
    border-color: black;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 40px;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover~label {
    /* questa è la ragione per cui le stelle sono in ordine inverso nell'html*/
    color: orange;
}

.rating input:checked~label {
    color: orange;
}

.rating_totale {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #ddd;
    border-color: black;
}

.rating_totale input {
    display: none;
}

.rating_totale label {
    font-size: 40px;
}

.rating_totale input:checked~label {
    color: orange;
}
















.feedback_name{
    font-size: 22px;
}



.comment {
    margin-bottom: 20px;
}

.comment textarea {
    width: 100%;
    height: 180px;
    resize: none;
}

.title_comment_area {
    font-size: 18px;
}



.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.feedback-form {
    width: 100%; /* Permette al contenitore di usare tutta la larghezza */
    display: flex; /* Mantiene il contenitore flessibile */
    justify-content: space-between; /* Aggiusta lo spazio tra i due form */
}

.feedback-form .col-md-6 {
    max-width: 48%; /* Limita la larghezza dei form */
}